<div class="alert alert-info" id="alert">処理中....</div>

<table class="table table-bordered">
    <tr id="result" />
</table>

@section Scripts {
    <script>
        $("#tab_friends").addClass("active");//タブ反転表示
        AppendTable("GetFriend", "@(ViewBag.UserId)", "@(ViewBag.AccessToken)", -1, 0, 0);//再帰開始
    </script>
}
