@model IEnumerable<FbSpamDb.Models.ViewUserSpam>

@{
    var i = 0;
}

<table class="table table-bordered" id="tableSpam">
    @foreach (var item in Model) {
        if (i % 3 == 0) {
            <text><tr></text>
        }
        <td id="oneTd">
           @Html.Partial("OneSpam",@item)
        </td>
        i++;
    }
</table>

